<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SimpleShoppingStore</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.dota2.store.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.dota2.store.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MailActivationServlet</display-name>
		<servlet-name>MailActivationServlet</servlet-name>
		<servlet-class>com.dota2.store.controller.MailActivationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailActivationServlet</servlet-name>
		<url-pattern>/activate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DisplayItemsServlet</display-name>
		<servlet-name>DisplayItemsServlet</servlet-name>
		<servlet-class>com.dota2.store.controller.DisplayItemsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayItemsServlet</servlet-name>
		<url-pattern>/displayitems</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SetDetailsServlet</display-name>
		<servlet-name>SetDetailsServlet</servlet-name>
		<servlet-class>com.dota2.store.controller.SetDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetDetailsServlet</servlet-name>
		<url-pattern>/setDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ItemDetailsServlet</display-name>
		<servlet-name>ItemDetailsServlet</servlet-name>
		<servlet-class>com.dota2.store.controller.ItemDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemDetailsServlet</servlet-name>
		<url-pattern>/itemDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ItemCatalogServlet</display-name>
		<servlet-name>ItemCatalogServlet</servlet-name>
		<servlet-class>com.dota2.store.controller.ItemCatalogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemCatalogServlet</servlet-name>
		<url-pattern>/itemcatalog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemCatalogServlet</servlet-name>
		<url-pattern>/showcart</url-pattern>
	</servlet-mapping>

</web-app>